/*import fonts from.css file*/
@import url(./fonts.css);
@import url(./partials/variables.css);


/*     Start Navigation     */
.header_area.main-menue.navbar.navbar-brand{
    padding: 0 2rem 0 5rem;
}
.header_area.main-menue.navbar{
    padding: 1rem 20rem;
}
.header_area.main-menue.nav-item-navlink
{
   font-family:var(--mooli);
   text-transform: uppercase;
   font-weight: 500; 
   padding: 1.7rem;
   color: var(--title-color);
}
/*     END Navigation     */